<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

 - popular languages that used by Data Scientists
 
 - commonly used libraries used by Data Scientists
 
 - Tools used in Data Science

Some of the popular languages that Data Scientists use are:

    1.SQL
    2.python
    3.R

Some of the commonly used libraries used by Data Scientists include:
    
    1.NUMPY
    2.PANDAS
    3.SEABORN

| Data Science Tools |
|--------------------|
|  Jupyter NOTEBOOK  |
|  Rstudio           |
|  VSCODE WITH PYTHON|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# multiply and add numbers
num1 = 3
num2 = 4
num3 = 5
# Multiply and add the numbers
# This a simple arithmetic expression to mutiply then add integers
result = (num1 * num2)+num3
# Print the results
print(result)

17

In [5]:
#convert minutes into hours
# Input: Number of minutes
minutes = 200

# Conversion
#This will convert 200 minutes to hours by diving by 60
hours = minutes / 60

# Output
print(f"{minutes} minutes is equal to {hours} hours")

200 minutes is equal to 3.3333333333333335 hours

## Author

Sanjaykumar Korrapati